<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout_main}">
<head>
<body>

<div layout:fragment="main-content">
    <p>Users List</p>
    <table>
        <tr>
        <tr>
            <th>User Name</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.firstname}"></td>
                <td th:text="${user.lastname}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>